<div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card1 today"><p>عدد المدرسين الكلى</p> <div>500</div>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
</div>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">رقم</th>
        <th scope="col">الاسم</th>
        <th scope="col">البريد الالكترونى</th>
        <th scope="col">رقم الهاتف</th>
        <th scope="col">المادة</th>
        <th scope="col">النسبة</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="teachers!=null">
      <tr *ngFor="let teacher of teachers">
        <th scope="row">{{teacher.id}}</th>
        <td>{{teacher.fullname}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.phoneNumber}}</td>
        <td>{{teacher.subject.name}}</td>
        <td>{{teacher.percentage}}</td>
        <td><button class="btn btn-primary" routerLink="/Teacher">افتح صفحة المدرس</button></td>
      </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-4"></div>
    <div class="col-1 go" (click)="OnNext()">
        التالى
    </div>
    <div class="col-1"></div>
    <div class="col-1 back" (click)="OnPast()">
        السابق
    </div>
    <div class="col-5"></div>
</div>