<div class="background container-fluid" [ngStyle]="{'min-height.px':height}">
    <div class="row">
        <div class="col-md-4" style="margin: 0;">
            <app-logo></app-logo>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 details">
            <p>نعلم انك قد عانيت الكثير في الفترة السابقة </p>
            <p><span>دروس اكاديمي</span> هنا لمساعدتك في تخطي هذا </p>
            <p>اخبر معلمك او معلمتك هنا و اجعله ينضم الينا على دروس اكاديمي لكي يتمكن من التمتع بكل المميزات التي ستقدمها المنصة لك</p>
            <br>
            <br>
            <p>لأننا نسعى لكي يحصل طلابنا على افضل الفرص</p>
            <p>انشأنا هذه المنصة لكي تكون حلقة الوصل بين الطلاب و المعلمين في بيئة تفاعلية والوان مبهجة تضمن شعورك كطالب براحة نفسية بالغة لكي تركز على دراستك لأن مستقبلك هو الاهم بالنسبة لنا </p>
            <br>
        </div>
        <div class="col-md-5">
            <div>
                <img src="assets/7nts.svg" class="img-fluid" alt=""> 
            </div>
        </div>


        <div class="Login">
                <div class="row">
                    <div class="col-12">
                        <h2>سجل معنا</h2>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary rounded-pill" routerLink="/StudentLogin">تسجيل الدخول</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary rounded-pill" routerLink="/StudentSignup">حساب جديد</button>
                    </div>
                </div>
        </div>

    </div>
</div>