<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <div class="head">
            <h2>عدد المشاهدات</h2>
        </div>
        <div class="card1 today">اليوم حتى الان <div>{{todayViews}}</div></div>
        <div class="card1 yesterday">الامس <div>{{yesterdayViews}}</div></div>
        <div class="card1 thismonth">هذا الشهر <div>{{thisMonth}}</div></div>
        <div class="card1 lastmonth">الشهر السابق <div>{{LastMonth}}</div></div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <div class="head">
            <h2>الارباح ( بالجنية المصرى )</h2>
        </div>
        <div class="card1 today">اليوم حتى الان <div>{{todayBenefits}}</div></div>
        <div class="card1 yesterday">الامس <div>{{yesterdayBenefits}}</div></div>
        <div class="card1 thismonth">هذا الشهر <div>{{thisMonthBenefits}}</div></div>
        <div class="card1 lastmonth">الشهر السابق <div>{{LastMonthBenefits}}</div></div>
    </div>
    <div class="col-lg-1"></div>
</div>