*{
  direction: rtl;
  margin: auto;
  font-size: 1.5rem;
}


.background {
background-image: url('../../../../assets/Untitled2.png');
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
}

app-logo{
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
  position: relative;
}


.content {
animation: fadeIn 1s linear;
animation-fill-mode: both;
line-height: 1.7rem;
}
.details{
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
  font-size: 22px;
}


img{
animation: fadeIn 1s linear;
animation-fill-mode: both;
}
p{
  line-height: 1.7rem;
  color: #305F72;
}

.Login{
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
}
ul{
margin-top: 10%;
}

li {
  color: white;
  border: 1px solid pink;
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
  font-size: 25px;
  background-color: #166B9D;
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px auto;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }

}

.Login{
  margin: 0;
}
h2{
  text-align: center;
  font-size: 2rem;
}

.Login button{
  color: white;
  border: none;
  margin: 30px 20px;
  width: 200px;
}


@media (max-width:541px) {
  p{
    font-size: 18px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
  }
  .Login{
    margin:auto
  }

  .Login button{
    color: white;
    border: none;
    width: 130px;
    }
  
}


@media (max-width:577px) {

  p{
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
  }

  .Login button{
    color: white;
    border: none;
    width: 80%;
    margin:10px auto;
    display: block;
    }
    .Login{
      width: 100%;
      margin:auto;
    }


}