*{
    direction: rtl;
    /* background: rgb(230,101,79);
    background: linear-gradient(137deg, rgba(230,101,79,1) 20%, rgba(249,122,19,1) 48%, rgba(255,128,0,1) 76%); */
}
.right{
    padding: 0;
    margin-top: 7.5rem;
    width: 100%;
}
.btn{
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    margin-right: 2%;
    width: 95%;
    background: rgb(230,101,79);
    background: linear-gradient(137deg, rgba(230,101,79,1) 20%, rgba(249,122,19,1) 48%, rgba(255,128,0,1) 76%);
    border-radius: 0.5rem;
    color: white;
    border-color: inherit;
    font-size: 1rem;
}
.btn:hover{
    background: white;
    color: black;
    border-color: black;
}