<div class="background container-fluid" [ngStyle]="{'min-height.px':height}">
    <div class="row">
        <div class="col-md-4" style="margin: 0;">
            <app-logo></app-logo>
        </div>
    </div>

            <div class="row">
                <div class="col-lg-4 details">
                    <p style="font-weight: bold;">لاننا نسعى لكي يحصل طلابنا على افضل الفرص</p>
                    <p>اتر معلمك او معلمتك هنا و اجعله ينضم الينا على دروس اكاديمي لكي يتمكن من التمتع بكل المميزات التي ستقدمها المنصة لك</p>
                </div>
                <div class="col-lg-4">
                        <div>
                            <img src="assets/7nts.svg" class="img-fluid"> 
                        </div>
                </div>

                <!-- <div class="col-md-4 list">
                    <ul class="d-flex flex-column bd-highlight mb-3">
                        <div class="row">
                            <div class="col-md-6"></div><h2 class="col-6">مميزات الموقع</h2>
                            <div class="col-md-4"></div><li class="rounded-pill p-2 bd-highlight col-md-7">موقع خاص بك</li><div class="col-md-1"></div>
                            <div class="col-md-3"></div><li class="rounded-pill p-2 bd-highlight col-md-7">بسهولة طرقعة الاصبع</li><div class="col-md-2"></div>
                            <div class="col-md-2"></div><li class="rounded-pill p-2 bd-highlight col-md-7">بث مباشر للحصص</li><div class="col-md-3"></div>
                            <div class="col-md-1"></div><li class="rounded-pill p-2 bd-highlight col-md-7">مستوى عالي من الامان</li><div class="col-md-4"></div>
                        </div>
                    </ul>
                </div> -->

                <ul class="d-flex flex-column bd-highlight mb-3 col-lg-4">
                        <h2>مميزات الموقع</h2>
                        <br>
                        <li class="rounded-pill p-2 bd-highlight ">موقع خاص بك</li>
                        <li class="rounded-pill p-2 bd-highlight ">بسهولة طرقعة الاصبع</li>
                        <li class="rounded-pill p-2 bd-highlight ">بث مباشر للحصص</li>
                        <li class="rounded-pill p-2 bd-highlight ">مستوى عالي من الامان</li>
                </ul>
                <div class="Login m-auto">
                    <h2 class="mt-2">سجل معنا</h2>
                        <button class="btn btn-primary rounded-pill" routerLink="/TeacherLogin">تسجيل الدخول</button>
                        <button class="btn btn-primary rounded-pill" routerLink="/TeacherSignup">حساب جديد</button>
                </div>

            </div>


</div>