h2{
    text-align: center;
    margin: 1rem;
    color: rgb(230,101,79);
}
form{
    padding: 2rem;
    border-radius: 1rem;
    margin: .5rem;
    background: rgb(230,101,79);
    background: linear-gradient(137deg, rgba(230,101,79,1) 20%, rgba(249,122,19,1) 48%, rgba(255,128,0,1) 76%);
    color: white;
    border-color: inherit;
}
button{
    width: 100%;
    margin-top: 2rem;
    /* margin: 2rem; */
    background: rgb(230,101,79);
    background: linear-gradient(137deg, rgba(230,101,79,1) 20%, rgba(249,122,19,1) 48%, rgba(255,128,0,1) 76%);
    color: white;
    border:2.5px solid white;
}
button:hover{
    background: white;
    color: black;
    border:1.5px solid black;
}
.col-1{
    padding: 0!important;
}
@media(max-width:991px){

}