<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <div class="card1 today"><p>الرصيد الكلى</p> <div>500</div></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="card1 yesterday"><p>الرصيد الحالى</p> <div>500</div></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <div class="card1 thismonth"><p>الرصيد الاجل</p> <div>500</div></div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row balance">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 row">
        <div class="col-lg-4">
            <button class="btn-primary btn balanceTake">سحب الرصيد</button>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">رقم المعاينة</th>
                    <th scope="col">القيمة</th>
                    <th scope="col"> الموزع</th>
                    <th scope="col">السنة الدراسية</th>
                    <th scope="col">وقت المعاملة</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of transactions">
                    <th scope="row">{{transaction.id}}</th>
                    <td>{{transaction.balance}}</td>
                    <td>{{transaction.seller.fullname}}</td>
                    <td>{{transaction.year.name}}</td>
                    <td>{{transaction.transactionDate}}</td>
                  </tr>
                  
                </tbody>
            </table>
        </div>
        
        
    </div>
    <div class="col-lg-2"></div>
</div>
