<div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card1 today"><p>عدد الطلاب الكلى</p> <div>500</div>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
</div>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">رقم</th>
        <th scope="col">الاسم</th>
        <th scope="col">البريد الالكترونى</th>
        <th scope="col">رقم الهاتف</th>
        <th scope="col">المحافظة</th>
        <th scope="col">المدرسة</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="students!=null">
      <tr *ngFor="let student of students">
        <th scope="row">{{student.id}}</th>
        <td>{{student.fullname}}</td>
        <td>{{student.email}}</td>
        <td>{{student.phoneNumber}}</td>
        <td>{{student.governorate}}</td>
        <td>{{student.school}}</td>
        <td><button class="btn btn-primary" routerLink="/Student" [queryParams]="{ id: student.id}">افتح صفحة الطالب</button></td>
      </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-4"></div>
    <div class="col-1 go" (click)="OnNext()">
        التالى
    </div>
    <div class="col-1"></div>
    <div class="col-1 back" (click)="OnPast()">
        السابق
    </div>
    <div class="col-5"></div>
</div>