<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">دروس اكاديمى</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">

            <div class="d-flex w-100 justify-content-center">
              <div class="toBlock">
                <li class="nav-item ">
                  <a class="nav-link" href="#"><button class="btn btn1 ml-3">محاضراتى</button></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#"> <button class="btn btn1">حسابى</button></a>
                </li>
              </div>


              <div class=" position-absolute twoBills ml-5 toBlock">
                <li class="nav-item col-xs-12">
                  <a class="nav-link" href="#"><button class="btn btn2 rounded-pill ">120</button></a>
                </li>
                <li class="nav-item col-xs-12">
                  <a class="nav-link" href="#"><button class="btn btn3 rounded-pill">5400</button></a>
                </li>
              </div>
            </div>




          </ul>

        </div>
      </div>
    </nav>
  </header>